.progressSection {
    background-color: grey;
    width: 2rem;
    height: 7px;
    border-radius: 30px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}
