@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body {
  overflow-x: hidden;
}

.App {
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.headerBlob { 
  width: 450.709228515625px;
  height: 429.1639404296875px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width=%22702.709%22 height=%22667.164%22 viewBox=%22147.833 189.609 702.709 667.164%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M813 699q-83 199-283 147T207.5 647Q85 500 214 364t305-169q176-33 276.5 136T813 699Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23f7c082%22 d=%22M813 699q-83 199-283 147T207.5 647Q85 500 214 364t305-169q176-33 276.5 136T813 699Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  position: absolute;
  top: -5em;
  right: -3em;
}


.headerBlobText {
  font-family: 'Titan One';
  text-align: center;
  position: absolute;
  top: 1.8em;
  left: 5.5rem;
  font-size: 50px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.descriptionBlob { 
  width: 460.271240234375px;
  height: 331.8868408203125px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width=%22728.271%22 height=%22526.887%22 viewBox=%22220.377 237.44 728.271 526.887%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M914.5 646Q848 792 693 755t-258-1q-103 36-171-53.5T234 514q38-97 94.5-155.5t132-61q75.5-2.5 235-49T918 351q63 149-3.5 295Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23b8e7bb%22 d=%22M914.5 646Q848 792 693 755t-258-1q-103 36-171-53.5T234 514q38-97 94.5-155.5t132-61q75.5-2.5 235-49T918 351q63 149-3.5 295Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.descriptionBlobText {
  font-family: 'Titan One';
  text-align: center;
  position: absolute;
  bottom: 1em;
  left: 2rem;
  font-size: 50px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.descriptionBlobText p {
  font-size: 14px;
  text-align: left;
  /* letter-spacing: 1px; */
  line-height: 1.8;
}
